---
import Social from './Social.astro'
---
<style>
    footer{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer>
    <h4>Social Medias</h4>
    <Social platform="x" username="nikhilpatll"/>
    <Social platform="github" username="nsp4746"/>
    <Social platform="instagram" username="nikhilpatll"/>
    <Social platform="linkedin" username="in/nikhilpatll"/>
    <p></p>
</footer>
